<html>
    <head>
    <script>
        function factorial(){
         
          let xhttp=new XMLHttpRequest();
        xhttp.onload=()=>{
           
           document.getElementById("d1").innerHTML=`factorial = ${JSON.parse(xhttp.response).fact}`
           
        }
        xhttp.open("POST","calculator");
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.send(`{"num":"${document.getElementById('t1').value}"}`);
     }
       
    </script>
    </head>
    <body>
        <div id="d1">

        <input type="number" id="t1" name="num"/>
        <button onclick="factorial()">Factorial</button>
        <p id="p1"></p>
        </div>
    </body>
</html>